<!-- <app-navbar></app-navbar>
<div class="container mx-auto p-6">
  <router-outlet></router-outlet>
</div> -->
<div>
  <header class="flex">
    <div class="flex-shrink-0 px-4 py-3 bg-gray-800">
      <button class="flex items-center">
        <img class="h-8 w-8 rounded-full object-cover"
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.5&w=144&q=80"
          alt="">
        <span class="ml-4 text-sm font-medium text-white">Monica White</span>
        <svg class="ml-10 h-6 w-6 stroke-current text-gray-400" viewBox="0 0 24 24" fill="none">
          <path d="M16 10l-4 4-4-4" stroke-Width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="flex-1 flex items-center justify-between px-6 bg-gray-700">
      <nav class="flex">
        <a href="#"
          class="inline-block px-3 py-2 bg-gray-800 rounded-lg leading-none text-sm font-medium text-white">Mailbox</a>
        <a href="#" class="inline-block px-3 py-2 rounded-lg leading-none text-sm font-medium text-white">Customers</a>
        <a href="#" class="inline-block px-3 py-2 rounded-lg leading-none text-sm font-medium text-white">Reporting</a>
        <a href="#" class="inline-block px-3 py-2 rounded-lg leading-none text-sm font-medium text-white">Manage</a>
      </nav>
      <div class="inline-flex">
        <input type="text">
        <button>
          <svg class="h-5 w-5 fill-current bg-gray-400" viewbox="0 0 24 24">
            <!-- <path d="M12 18a1 1 0 100-2 1 1 0 000 2z" />
            <circle cx="12" cy="12" r="9" stroke-width="2" />
            <path
              d="M12 14v0c0-.552.452-.99.994-1.093C14.722 12.575 16 11.399 16 10c0-1.657-1.79-3-4-3-1.742 0-3.223.835-3.772 2"
              stroke-width="2" stroke-linecap="round" /> -->
            <circle cx="256" cy="378.5" r="25" />
            <path d="M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256
				C512,114.516,397.503,0,256,0z M256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216
				c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z" />
            <path d="M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40
				c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20
				c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z" />
          </svg>
        </button>
      </div>
    </div>
  </header>
  <div></div>
  <main>
    <div></div>
    <div></div>
  </main>
</div>
