<table class="shadow-lg bg-white w-full">
  <thead>
    <tr>
      <th class="bg-indigo-600 border px-4 py-2 text-white">Email</th>
      <th class="bg-indigo-600 border px-4 py-2 text-white">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of $users | async">
      <td class="border px-4 py-2 text-indigo-600">{{user.email}}</td>
      <td class="border px-4 py-2 text-indigo-600">{{user.firstName}} {{user.lastName}}</td>
    </tr>
  </tbody>
</table>
<div class="mt-5">
  <a routerLink="/account/register" class="px-4 py-2 rounded bg-indigo-600 text-white hover:bg-indigo-800 font-semibold">Agregar</a>
</div>
